/* $pokemon_types_colors: (
  "grass": #78c850,
  "fire": #f08030,
  "water": #6890f0,
  "bug": #a8b820,
  "normal": #a8a878,
  "poison": #a040a0,
  "electric": #f8d030,
  "ground": #e0c068,
  "fairy": #ee99ac,
  "fighting": #c03028,
  "psychic": #f85888,
  "rock": #b8a038,
  "ghost": #705898,
  "ice": #98d8d8,
  "dragon": #7038f8,
); */
$pokemon_types_colors: (
  "normal": #a8a77a,
  "fire": #ee8130,
  "water": #6390f0,
  "electric": #f7d02c,
  "grass": #7ac74c,
  "ice": #96d9d6,
  "fighting": #c22e28,
  "poison": #a33ea1,
  "ground": #e2bf65,
  "flying": #a98ff3,
  "psychic": #f95587,
  "bug": #a6b91a,
  "rock": #b6a136,
  "ghost": #735797,
  "dragon": #6f35fc,
  "dark": #705746,
  "steel": #b7b7ce,
  "fairy": #d685ad,
);
$border_color: #8d99ae;
$text_color: #edf2f4;
$background_color: #2b2d42;

body {
  font-size: 16px;
  background-color: $background_color;
  color: $text_color;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 80vh;
}

#main_header {
  text-align: center;
  font-size: 26px;
  color: $text_color;
}

#pokemons_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin: 0;
  padding: 5px 0;
}

.pokemon_item {
  display: inline-block;
  width: 150px;
  height: 110px;
  border-radius: 5px;
  border: 1px solid $border_color;
  padding: 10px 5px;
  margin: 5px;
  text-decoration: none;
  color: $text_color;
  cursor: pointer;
  text-align: center;

  &:visited,
  &:active,
  &:hover {
    color: $text_color;
  }

  &__image {
    padding-top: 3px;
    width: 50%;
  }

  &__header {
    border-bottom: 1px solid $border_color;
    padding-bottom: 5px;

    &__id {
      border-radius: 50%;
      padding: 2px 10px;
      border: 1px solid $border_color;
      background-color: $text_color;
      color: $background_color;
      font-size: 14px;
    }

    &__name {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}

@each $type, $color in $pokemon_types_colors {
  .pokemon_container__image_container--#{$type} {
    background-color: $color;
  }
}

#pokemon_container {
  &__image_container {
    text-align: center;
    margin: 0;
    padding: 5px 0;
    height: 45vh;
  }

  &__image {
    width: 85%;
  }

  &__data {
    background-color: $text_color;
    color: $background_color;
    height: 23vh;
    padding: 30px 15px;
  }

  &__name {
    margin-top: 0;
    text-transform: uppercase;
  }

  &__description {
    font-size: 17px;
  }
}
.nav_menu {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    &__item {
      display: inline-block;
      font-size: 16px;
      line-height: 4;
      width: 30%;
      text-align: center;

      &#next_pokemon {
        text-align: right;
      }

      &#previous_pokemon {
        text-align: left;
      }

      &__no_mobile {
        display: none;
      }

      a {
        text-decoration: none;
        color: $text_color;

        &.go_back {
          text-decoration: underline;
        }

        &:visited,
        &:hover,
        &:active {
          color: $text_color;
        }
      }

      &__image {
        vertical-align: middle;
        width: 65%;
      }

      &__name {
        text-transform: uppercase;
        vertical-align: middle;
      }
    }
  }
}

.pokemon_container__type {
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 20%;
  border: 1px solid $border_color;

  @each $type, $color in $pokemon_types_colors {
    &--#{$type} {
      background-color: $color;
    }
  }
}

@media only screen and (min-device-width: 768px) {
  main {
    align-items: center;
  }

  .nav_menu {
    width: 85%;

    &__list__item {
      font-size: 20px;

      &__no_mobile {
        display: inline;
      }

      &__image {
        width: 30%;
      }
    }
  }

  #pokemons_container {
    width: 80%;
  }

  #pokemon_container {
    width: 75%;

    &__image_container {
      height: 40vh;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    &__image {
      width: 20%;
    }

    &__data {
      height: 38vh;
    }

    &__genera {
      font-size: 20px;
    }

    &__description {
      font-size: 24px;
    }
  }
}
